package {{package}}

{{#imports}}import {{import}}
{{/imports}}

import org.springframework.web.bind.annotation.*
import org.springframework.web.service.annotation.*

{{#useBeanValidation}}
{{#jakarta}}
import jakarta.validation.constraints.*
import jakarta.validation.Valid
{{/jakarta}}
{{^jakarta}}
import javax.validation.constraints.*
import javax.validation.Valid
{{/jakarta}}
{{/useBeanValidation}}

/**
 * the {{{baseName}}} API
 */
@HttpExchange(
  url = "/",{{#hasConsumes}}
  accept = [{{#consumes}}"{{{mediaType}}}"{{#hasMore}}, {{/hasMore}}{{/consumes}}],{{/hasConsumes}}{{#hasProduces}}
  contentType = {{#produces}}"{{{mediaType}}}"{{/produces}},{{/hasProduces}}
)
interface {{classname}} {
{{#operations}}
{{#operation}}
{{>apiInterface}}
{{/operation}}
}
{{/operations}}
